<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h4 id="home-heading1" style="color:#000000;">Foundation 1</h4>
    <ion-list id="home-list5">
      <ion-item class="item-icon-right" id="home-list-item12" ui-sref="menu.materials">{{"" +details.course_code0}} {{"" +details.couse_title0}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item33" ui-sref="menu.materials">{{"" +details.course_code1}} {{"" +details.couse_title1}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item34" ui-sref="menu.materials">{{"" +details.course_code2}} {{"" +details.couse_title2}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item35" ui-sref="menu.materials">{{"" +details.course_code3}} {{"" +details.couse_title3}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item37" ui-sref="menu.materials">{{"" +details.course_code4}} {{"" +details.couse_title4}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <h4 id="home-heading2" style="color:#000000;">Foundation 2</h4>
    <ion-list id="home-list8">
      <ion-item class="item-icon-right" id="home-list-item36" ui-sref="menu.materials">{{"" +details.course_code6}} {{"" +details.couse_title6}} 
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item38" ui-sref="menu.materials">{{"" +details.course_code7}} {{"" +details.couse_title7}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item39" ui-sref="menu.materials">{{"" +details.course_code8}} {{"" +details.couse_title8}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item40" ui-sref="menu.materials">{{"" +details.course_code9}} {{"" +details.couse_title9}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="home-list-item41" ui-sref="menu.materials">{{"" +details.course_code10}} {{"" +details.couse_title10}}
        <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
  </ion-content>
</ion-view>