<ion-view title="Logout" id="page4">
    <ion-content padding="'true'" class="has-header">
        <form class="list" >
            <ion-list>
                Please enter your email to logout of all sessions.
                <label class="item item-input">
                    <input ng-model="user.email" type="email" placeholder="Email" >
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  class="button button-royal  button-block" ng-click="forgot()" >Logout</button>
			
            <a href="#/login"  class="button button-positive button-clear button-block ">Or Login</a>
        </form>
    </ion-content>
</ion-view>