<ion-view title="Materials" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="materials-heading7" style="color:#000000;">F1001 Introduction to Management</h4>
    <ion-list id="materials-list10">
      <ion-item class="item-icon-right" id="materials-list-item63" href="#/sidemenu/content">Introduction to Management by Simon Dee
        <i class="icon ion-android-download icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
  </ion-content>
</ion-view>